<div style="height:100%">
<md-toolbar>

<span class="toolbar-img-align" style="cursor: pointer;" (tap)="goToShoppingLIst()">
    <img src="./../assets/Capillary_Technologies_logo.png">
</span>
<span class="toolbar-text">
    Games Arena
</span>
<span style="flex:1 1 auto;"></span>
<a md-raised-button href="https://github.com/prithviraju1369/capillary-challenge" target="_blank" color="primary">Code</a>
<a md-raised-button href="https://github.com/prithviraju1369" target="_blank" color="primary">My Profile</a>
</md-toolbar>

<div class="content">
    <div class="app-main-container">
        <router-outlet></router-outlet>
    </div>
</div>
</div>